
<div style="text-align: center">
  <div class="footer2">
    <i class="fas fa-envelope-open-text" style="font-size:36px"></i>
    <p>24x7 | Customer Care</p>
  </div>
  <div class="footer2">
    <i class="fas fa-ticket-alt" style="font-size:36px"></i>
    <p>Resend Booking Confirmation</p>
  </div>
  <div class="footer2">
    <i class="fas fa-envelope" style="font-size:36px ; margin: auto;"></i>
    <p>Subscribe Our NewsLater</p>
  </div>
</div>

<div style="text-align: center; font-size: 14px;  background-color: #111111;">
  <div class="footer3">
    <h6 id="subfooter3link">Best Langauge Movies</h6>
    <a id="subfooter3link" *ngFor="let l of langMovies" >
      {{ l.key }} |
    </a>
  </div>
  <div class="footer3">
    <h6 id="subfooter3link">Best Genre Movies</h6>
    <a id="subfooter3link" *ngFor="let l of langMovies" >
      {{ l.key }} |
    </a>
  </div>
</div>
