.order-summary{
  border: 10px solid whitesmoke;
  width: 400px;
  padding: 30px;
  height: 500px;
  background-color: white;
  padding-top: 50px;
  /* transform: translate(405px, 0px); */
}
.small, small{
  font-size: 11px !important;
  font-weight: 400;
}
#bold{
  font-size: 14px;
  font-weight: 500;
}
#title-header{
  font-size: 18px;letter-spacing: 5px;font-weight: 100;
}

.seprator{
  margin-top: 10px;
  margin-bottom: 10px;
}
#btn-font{
  font-size: 13px;
  font-weight: normal;
}
#sidebar    {
  width: 67%;
  float: left;
  text-align: center;
  padding-top: 50px;
}

#page-wrap  {
  width: 30%;
  margin-left: 67%;
}